/*********************
Media Queries
*********************/
$screen-lg  :1200px;
$screen-md  :992px;
$screen-sm  :768px;
$screen-ph  :600px;
$screen-tw  :480px;
$screen-xs  :320px;

$retina:    "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";

/*********************
Fonts
*********************/

$font-faces:
    StagLight stag-light-web 500 normal,
    StagMedium stag-medium-web 500 normal;

$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;


/*********************
COLORS
*********************/

$black:             #333;
$white:             #fff;

$red:               #a94442;
$light-red:         #f2dede;
$lightest-red:      #ebccd1;

$green:             #3c763d;
$light-green:       #dff0d8;
$lightest-green:    #d6e9c6;


$blue:              #337ab7;
$light-blue:        lighten($blue, 30%);


$orange:			#ffa500;
$light-orange:      lighten($orange, 10%);


$light-grey:        #ebebe1;
$lighter-grey:      #cccccc;
$lightest-grey:     #f9f9f9;




